<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pages de Mon Vécu - Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    


</head>

<body>
    <section class="bg-pattern">
        
        <nav>
            
            <a href="#" class="logo">Pages de Mon Vécu</a>
            
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>
 
        
        <div class="text-container">
            <p>Hello,</p>
            <p>"Pager"</p>
            <p>Welcome to "Pages de Mon Vécu" as (Pages of My Experience)</p>
            <p>A place where you will be comfortable sharing stories, experiences, or
                about yourself
            </p>
            <a href="/register"><button class="sign-btn" >Sign Up</button></a>
            <a href="/login"><button class="login" >Login</button></a>
        </div>
        
        <img alt="model" class="model" src="../images/image.png">  
    </section>
 
    
    <footer>
        <p></p>
    </footer>
 
</body>
 
</html>